@import './colors';

body {
    margin: 0;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: $c1;
}

::selection {
    background: $c-selection;
}

input {
    color: $c1;
    background-color: $c-input-bg;
    border: 1px solid $c-input-border;
    padding: 5px;
    border-radius: 2px;
    &:focus {
        outline: 0;
        border-right: 2px solid $c-focus;
    }
    &::placeholder {
        padding-left: 3px;
        color: $c-input-placeholder;
    }
}

button {
    cursor: pointer;
    color: $c1;
    background-color: $c-btn-bg;
    border: 1px solid $c-btn-border;
    padding: 5px;
    border-radius: 2px;
    &:focus {
        outline: 0;
        border-right: 2px solid $c-focus;
        padding-left: 6px;
    }
    &.btn-link {
        border: 0;
        background-color: transparent;
        color: $c-link;
        &:hover, &:focus {
            padding-left: 5px;
            text-decoration: underline;
        }
    }
}
