@import '/app/colors';

#login-page {

    width: 320px;
    margin: auto;
    margin-top: calc(15vh);
    text-align: center;

    .brand {
        height: 84px;
        font-size: 5em;
        font-family: 'Dancing Script', sans-serif;
        color: $c-brand;
        overflow: hidden;
    }

    .lead {
        font-family: times, serif;
        color: $c-text-muted;
        h2 {
            margin-bottom: 5px;
        }
    }

    .links {
        margin-top: 5px;
        text-align: left;
    }
}
